<a href="https://colab.research.google.com/github/msandhiya07/carsales/blob/main/car_savlesdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Animal db FOR ANALYSIS

In [4]:
import pandas as pd
d=pd.read_csv("/content/Car_sales (2).csv")
df=pd.DataFrame()
print(d)

    Manufacturer    Model  Sales_in_thousands  __year_resale_value  \
0          Acura  Integra              16.919               16.360
1          Acura       TL              39.384               19.875
2          Acura       CL              14.114               18.225
3          Acura       RL               8.588               29.725
4           Audi       A4              20.397               22.255
..           ...      ...                 ...                  ...
152        Volvo      V40               3.545                  NaN
153        Volvo      S70              15.245                  NaN
154        Volvo      V70              17.531                  NaN
155        Volvo      C70               3.493                  NaN
156        Volvo      S80              18.969                  NaN

    Vehicle_type  Price_in_thousands  Engine_size  Horsepower  Wheelbase  \
0      Passenger               21.50          1.8       140.0      101.2
1      Passenger               28.40          3.2       225.0      108.1
2      Passenger                 NaN          3.2       225.0      106.9
3      Passenger               42.00          3.5       210.0      114.6
4      Passenger               23.99          1.8       150.0      102.6
..           ...                 ...          ...         ...        ...
152    Passenger               24.40          1.9       160.0      100.5
153    Passenger               27.50          2.4       168.0      104.9
154    Passenger               28.80          2.4       168.0      104.9
155    Passenger               45.50          2.3       236.0      104.9
156    Passenger               36.00          2.9       201.0      109.9

     Width  Length  Curb_weight  Fuel_capacity  Fuel_efficiency Latest_Launch  \
0     67.3   172.4        2.639           13.2             28.0      2/2/2012
1     70.3   192.9        3.517           17.2             25.0      6/3/2011
2     70.6   192.0        3.470           17.2             26.0      1/4/2012
3     71.4   196.6        3.850           18.0             22.0     3/10/2011
4     68.2   178.0        2.998           16.4             27.0     10/8/2011
..     ...     ...          ...            ...              ...           ...
152   67.6   176.6        3.042           15.8             25.0     9/21/2011
153   69.3   185.9        3.208           17.9             25.0    11/24/2012
154   69.3   186.2        3.259           17.9             25.0     6/25/2011
155   71.5   185.7        3.601           18.5             23.0     4/26/2011
156   72.1   189.8        3.600           21.1             24.0    11/14/2011

     Power_perf_factor
0            58.280150
1            91.370778
2                  NaN
3            91.389779
4            62.777639
..                 ...
152          66.498812
153          70.654495
154          71.155978
155         101.623357
156          85.735655

[157 rows x 16 columns]

In [3]:
print("HHHIIIIII")

HHHIIIIII

In [ ]:

#1. Which animal in the dataset has the longest gestation period, and how long is it?
#2. What is the average lifespan of the African Elephant according to the dataset?
#3. Name three animals from the dataset classified as "Vulnerable" in conservation status.
#4. Which habitats are shared by the African Lion and the Aardwolf?
#5. What is the top speed of the African Lion, and how does it compare to its average speed?
#6. Which animals in the dataset are primarily insectivores?
#7. What is the most common predator listed for animals found in savannahs?
#8. Compare the social structures of the African Elephant and African Wild Dog.
#9. Which animal has the highest top speed in the dataset, and what is that speed?
#10. Based on the dataset, name an animal that is multicolored and its corresponding habitat.